*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#009688),url(image/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.banner_text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner_text h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}
.banner_text p{
    font-size: 20px;
    font-style: italic;
}
.banner_btn{
    margin: 70px auto 0;
}
.banner_btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
}
.banner_btn a span{
    width: 0%;
    background: #fff;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
}
.banner_btn a:hover span{
    width: 100%;
}
.banner_btn a:hover{
    color: #000;
}
.btn{
    text-align: center;
    margin: 80px;
}
.btn a{
    width: 150px;
    text-decoration: none;
    color: #000;
    border: 0.5px solid #000;
    padding: 12px 0;
    display: inline-block;
    position: relative;
    z-index: 100;
}
.btn a span{
    width: 100%;
    background: #000;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
}
.btn a:hover span{
    height: 100%;
}
.btn a:hover{
    color: #fff;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    text-align: center;
    background: #009688;
    position: fixed;
    top: 20px;
    right: 30px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
/* ------Mobile version---- */
@media screen and (max-width: 770px) {
    .banner_text h1{
        font-size: 44px;
    }
    .banner_btn a{
        display: block;
        margin: 20px auto;
    }
}
/* ----features---- */
#feature{
    width: 100%;
    padding: 70px 0;
}
.title_text{
    text-align: center;
    padding-bottom: 70px;
}
.title_text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    z-index: 1;
}
.title_text p::after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    background: linear-gradient(#019587,#fff);
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title_text h1{
    font-size: 50px;
    font-weight: 600;
}
.features_box{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.features h1{
    font-weight: 300;
    text-align: left;
    margin-bottom: 10px;
    color: #009688;
}
.features{
    flex-basis: 50%;
}
.features_img{
    flex-basis: 50%;
    margin: auto;
}
.features_img img{
    width: 70%;
    border-radius: 10px;
}
.features_desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.features_icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}
.features_text p{
    padding: 0 20px;
    text-align: initial;
}
/* ------Mobile version---- */
@media screen and (max-width: 770px) {
    .title_text h1{
        font-size: 35px;
    }
    .features{
        flex-basis: 100%;
    }
    .features_img{
        flex-basis: 100%;
    }
    .features_img img{
        width: 100%;
    }
}
/* -----Services----- */
#service{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service_box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single_service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
}
.single_service img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    cursor: pointer;
    border-radius: 7px;
    top: 0;
    opacity: 0;
    transition: 1s;
}
.single_service:hover .overlay{
    opacity: 1;
}
.service_desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}
hr{
    width: 60%;
    background: #fff;
    border: 0;
    margin: 15px auto;
    height: 2px;
}
.service_desc p{
    font-size: 14px;
}
.single_service:hover .service_desc{
    opacity: 1;
    bottom: 40%;
}
/* ------Mobile version---- */
@media screen and (max-width: 770px) {
    .single_service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service_desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single_service:hover .service_desc{
        bottom: 25%;
    }
}
/* ------Testimonials----- */
#testimonial{
    width: 100%;
    padding: 70px 0;
}
.testimonial_row{
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.testimonial_col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: 0.5s;
}
.testimonial_col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user_info .fa{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}
.user_info small{
    color: #009688;
}
.testimonial_col:hover{
    transform: translateY(-7px);
}
/* ------Mobile version---- */
@media screen and (max-width: 770px) {
    .testimonial_col{
        flex-basis: 100%;
    }
}
/* ----Footer---- */
#footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}
.footer_row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_left, .footer_right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer_right{
    text-align: right;
}
.footer_row h1{
    margin: 10px 0;
}
.footer_row p{
    line-height: 35px;
}
.footer_left .fa, .footer_right .fa{
    font-size: 20px;
    margin: 10px;
    color: #009688;
}
.footer_img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.socile_links{
    text-align: center;
}
.socile_links .fa{
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: 0.5s;
}
.socile_links .fa:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}
.socile_links p{
    font-size: 12px;
    margin-top: 20px;
}
/* ------Mobile version---- */
@media screen and (max-width: 770px) {
    .footer_left, .footer_right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer_img{
        top: 25%;
    }
}